@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.createUser {
  position: absolute;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createUser {
  position: absolute;
  width: 900px;
  height: 500px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.mainLogo {
  background: #a03037;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-clip: text;
}

.formTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.formTitleLink {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.formTitleLink:first-child {
  margin-left: 0;
}

.formTitleLink-active {
  color: white;
  border-bottom: 1px solid #6b5b95;
}

.formField {
  padding-left: 50px;
}

.formFieldLabel {
  display: block;
  font-size: 0.9em;
  color: white;
}

.formFieldInput {
  width: 65%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
}

.formFieldInput::placeholder {
  color: #616e7f;
  padding-left: 0.75em;
}

.formFieldButton {
  background-color: #a03037;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

.formFieldLink {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #a03037;
  padding-bottom: 5px;
}

.formFieldCheckbox {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: white;
  border-bottom: 1px solid #a03037;
  text-decoration: none;
  display: inline-block;
}

.login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  position: absolute;
  width: 700px;
  height: 500px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.formFieldInputLogin {
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
}

.forget {
  position: absolute;
  width: 500px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-top: 2.5em;
}

.forget {
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.formFieldLabelForget {
  display: block;
  font-size: 0.9em;
  color: black;

}

.formFieldInputForget {
  width: 46%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
}

.formFieldForget {
  padding-left: 0;
}

.formFieldButtonForget {
  background-color: #a03037;
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 50px;
  font-size: 0.85em;
  font-weight: 500;
}

.formFieldForget2 {
  padding-left: 9.5em;
  padding-right: 2.5em;
}

.buttonss{
  display: inline-block;
  display: flex;
  padding-left: 2.5em;
  padding-bottom: 3em;
}

.formFieldInputForget::placeholder {
  color: #616e7f;
  text-align: center;
}

.reset {
  padding-top: 10em;
  position: absolute;
  width: 500px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-top: 2.5em;
}

.reset {
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.formFieldLabelReset {
  display: block;
  font-size: 0.9em;
  color: black;
  text-align:"left" ;
}

.formFieldInputReset {
  width: 46%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
}

.formFieldInputReset::placeholder {
  color: #616e7f;
  text-align: center;
}

.mainBox {
  padding-top: 2em;
  padding-left: 15em;
}

.mainBoxForget {
  padding-top: 8em;
  padding-left: 27em;
}

.mainBoxLogin {
  padding-top: 5em;
  padding-left: 20em;
}

.mainBoxReset {
  padding-top: 6.5em;
  padding-left: 27em;
}